@*
    
*@
@{
    ViewData["Title"] = "О компании";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/StatTrack.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbarbrand">
    <div class="container">
        <img alt="Brand" class="img-responsive" src="https://f.nodacdn.net/432376" width=" 200" height="80">
        <buttom class="navbar-toggler" type="buttom" data-toggle="collapse" data-target="navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </buttom>
        <div class="navbar navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto mb-2">
                <li class="nav-item">
                    <h5><a href="/" class="nav-link aheader">Главная</a></h5>
                </li>
                <li class="nav-item">
                    <a href="/About" class="nav-link aheader">О компании</a>
                </li>
                <li class="nav-item">
                    <a href="/Brand" class="nav-link aheader">Бренды</a>
                </li>
                <li class="nav-item">
                    <a href="/Roznica" class="nav-link aheader">Розница</a>
                </li>
                <li class="nav-item">
                        <a href="/Sto" class="nav-link aheader">СТО</a>
                </li>
                <li class="nav-item">
                        <a href="/Contacts" class="nav-link aheader">Контакты</a>
                </li>
            </ul>
            </div>
        </div>
</nav>
<main>
        <div class="container-fluid px-0 my-3">
            <div style="background: url(https://media.discordapp.net/attachments/1098688792690429973/1098690163795841104/-1.png?width=1202&height=676)  no-repeat center center; background-size: cover; height: 1500px">
                <div class="col text-white pb-3 pb-lg-0">
                    <div class="container">
                        <div class="row justify-content-center align-items-center position-relative">
                            <div class="col-10 col-md-12 cursor_default py-3 py-lg-5 text-center">
                                <h1 class="display-4 text-uppercase text-light">STAR TRUCKS</h1>
                            </div>
                        </div>
                        <div class="row justify-content-center position-relative ">
                            <div class="col-12 text- pt-3 pl-lg-5 text-light">
                                <p class="h5"></p><p>
                                    Компания STAR TRUCKS существует на рынке запчастей для грузового транспорта более 15 лет. Семейный бизнес начинался с сервиса для грузового транспорта, который существует и по сей день, и развился до сети розничных магазинов и активно растущей партнерской сети.
                                    Наша компания работает с иностранными брендами и импортирует их напрямую. Количество брендов и ассортимент номенклатуры постоянно расширяется. Процессы в компании непрерывно совершенствуются и автоматизируются. Мы ориентированы на клиентский сервис и качественное обслуживание. С многими клиентами мы работаем на протяжении многих лет, с которыми ценим наши партнерские отношения. Новые компании активно пополняют список наших клиентов. Работая с нами, вы получаете хорошие цены, клиентоориентированный подход, профессионализм и качественное обслуживание.
                                <p></p>
                            </div>
                        </div>
                        <div class="container-fluid my-3">
                            <div class="row text-center py-5">
                                <div class="col">
                                    <h1 class="display-4 text-uppercase text-light">Бренды, с которыми мы работаем</h1>
                                </div>
                            </div>
                            <div class="row text-center justify-content-center align-items-center py-">
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431661" alt="bosch" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431662" alt="continetal" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431663" alt="castrol" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431664" alt="motul" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431665" alt="konig" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431666" alt="shellhelix" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431667" alt="schmitz" class="img-fluid w_img_barnd">
                                </div>
                                <div class="col-md-3 col-12 py- my-3 px- text-center">
                                    <img src="//f.nodacdn.net/431669" alt="philips" class="img-fluid w_img_barnd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
