@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Бренды";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/StatTrack.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbarbrand">
        <div class="container">
            <img alt="Brand" class="img-responsive" src="https://f.nodacdn.net/432376" width=" 200" height="80">
            <buttom class="navbar-toggler" type="buttom" data-toggle="collapse" data-target="navbarContent"
                    aria-controls="navbarContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </buttom>
            <div class="navbar navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto mb-2">
                    <li class="nav-item">
                        <h5><a href="/" class="nav-link aheader">Главная</a></h5>
                    </li>
                    <li class="nav-item">
                        <a href="/About" class="nav-link aheader">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Brand" class="nav-link aheader">Бренды</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Roznica" class="nav-link aheader">Розница</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Sto" class="nav-link aheader">СТО</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contacts" class="nav-link aheader">Контакты</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </nav>
<main>
        <div class="container-fluid px-0 my-5">
            <div style="background: url(https://psv4.userapi.com/c235031/u278625995/docs/d18/49707883a15a/Bezymyanny.png?extra=39cFl9fYL7axkRcjkwIyIRexCqlX9DK0D1YC10_LTnTBvWXUZ77AkwPYQg70VQfa3K8h0xRvl4925fA1YJznYwgj8aRMmFXgBkGatMGynCRIrD_qGvnJ37KIx2BKB8y6WC0gk55F05m42bW8F_S8MpXdBw) no-repeat center center; background-size: cover; height: 50vh">
            <div class="col-12 col-md-6 h-sm-auto order-2 my-5">
                <div class="text-white position-relative py-6 px-7">
                    <div class="row my- justify-content-center text-center">
                        <div class="col-12">
                            <h1 class="h3 display-4 text-uppercase %bg_color_1% text-%head_color%"></h1>
                        </div>
                    </div>
                    <div class="row my-lg-7">
                        <div class="col-12 col-md my-sm-3" data-razdel="469" data-viewrazdel="2">
                            <div style="max-width: 440px;" class="mx-auto w-sm-max75">
                                <div class="row">
                                    <div class="col text-left">
                                        <p class="h1">Каталоги брендов</p>
                                        <p class="mt-4 mb-2 border-bottom border-light"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 pt-3 text-%text-text_item_1%">
                                        <p>Каталоги брендов содержат наиболее полную информацию о продукции брендов, включая параметры деталей и актуальные артикулы, что позволяет, в ряде случаев, уточнить критерии подбора  деталей</p>
                                    </div>
                                    <div class="col-12 text-%text-text_item_2%">
                                        <p></p>
                                    </div>
                                    <div class="col-12 text-%text-text_item_3%">
                                        <p>Некоторые онлайн каталоги имеют функции подбора по марке и модели автомобиля, что предоставляет дополнительные удобства в работе с ними</p>
                                    </div>
                                    <div class="col-12 text-%text-text_item_4%">
                                        <p></p>
                                    </div>
                                    <div class="col-12 pt-3">
                                        <a class="text-white" rel="nofollow noopener" href=""></a>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441719" alt="bosch" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441720" alt="continetal" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441721" alt="castrol" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441722" alt="motul" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441723" alt="konig" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441724" alt="shellhelix" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441725" alt="schmitz" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441727" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441728" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441729" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441730" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441731" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441732" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441733" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441734" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441735" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441736" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441737" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441738" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441739" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441740" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441741" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441742" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441743" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441744" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441745" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441746" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441747" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441748" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441749" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441750" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441751" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441752" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441753" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441754" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441755" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441756" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441757" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441758" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441759" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441760" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441761" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441762" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441763" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441763" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441764" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441765" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441766" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441767" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441768" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441769" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441770" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441771" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441772" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441773" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441774" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441775" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441776" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441777" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441778" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441779" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441780" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441781" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441782" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441783" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441784" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441785" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441786" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441787" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441788" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441789" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441790" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441791" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441792" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441793" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441794" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441795" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441796" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441797" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441798" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441799" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441800" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441801" alt="philips" class="img-fluid w_img_barnd">
            </div>
            <div class="col-md-3 col-12 py- my-3 px- text-center">
                <img src="//f.nodacdn.net/441802" alt="philips" class="img-fluid w_img_barnd">
            </div>
        </div>
        </div>
</main>
</body>
</html>